.Apropos {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__banner {
    width: 100%;
    height: 140px;
    object-fit: cover;
    margin-top: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
}
