a {
  text-decoration: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 150px;
  @media screen and (max-width: 768px) {
    width: 130px;
  }
  &__link {
    color: red;
  }
}
.active_menu {
  text-decoration: underline;
}
